nav{
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.btn:active{
    background-color: white;
}
@media (hover:hover){
    .btn:hover{
       color: blue;
       }
}
#users{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
   
}

.pics-container{
 display: flex;
 justify-content: center;
}

.user-profilepics-container{
    display: flex;
    justify-content: center;
}

.user-profilepics-wrapper{
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.user-profilepics{
    margin-bottom: 5px;
    border-radius: 12px;
    border: 2px double aqua;
    width: 100%;
    height: 200px;
}

.profilepics{
    margin-bottom: 5px;
    border-radius: 12px;
    border: 2px double aqua;
}
.user-detail{
    display: inline-block;
    border: 1px solid aqua;
    padding: 1.1rem 1.5rem;
    margin: 0 1.2rem;
    width:70vw ;
    word-wrap: break-word;
}
.add-btn{
    font-weight: bold;
    border: 0;
    background-color: aqua;
    padding: 1.1rem 1.5rem;
    margin: 0 2rem;
    width: 170px;
}

.user-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.add-btn-wrapper{
    display: flex;
    justify-content: center;
}

.add-btn:active{
    background-color: white;
}

@media screen and (min-width:600px){
   .user{
    font-size: 3rem;
   }
}


.menu-btn{
    display: inline-block;
}

.links-container{
    border-radius: 12px;
    box-shadow: 3px 3px 3px black, -3px -3px 3px black;
    flex-direction: column;
    width: 40vw;
    text-align: center;
    padding: 5%;
    transform: translateY(5px);
   
}
.links-none{
    display: none;
}

@media screen and (min-width:450px){
    .links-none{
        display: flex;
    }
    .links-container{
            display: flex;
            border-radius: 0px;
            box-shadow: none;
            flex-direction: row;
            overflow-x: visible;
            padding: 0%;
            transform: translateY(0px);
            width: 100%;
    }
    .menu-btn{
        display: none;
    }
}